html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}
html{overflow-x:hidden}
html{margin: 20px;}
html{background-color: aliceblue ;}
h1,h2,h3,h4,h5,h6{font-size:35px}
h1,h2,h3,h4,h5,h6{text-align: center;}
h1,h2,h3,h4,h5,h6{color: rgb(44, 5, 136);}
h1,h2,h3,h4,h5,h6{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;font-weight:400;margin:10px}wide{letter-spacing:4px}
hr{border: 1px;;border-top:1px;margin: 1px;}
img {
    margin-left:285px;
    margin-right:285px;
    }